 
/* 通用选择器 */
* {
	/* 去掉导航栏周围没用的边距 */
	margin: 0;
	padding: 0;
	/* 去掉不必要的样式 */
	text-decoration: none;
	
	list-style: none;/* 去掉a元素前面的小点点 */
	box-sizing: border-box;/* 标准盒子 */
  }
  
 
  .menu-bar{
	/* 设置长条导航栏 */
	height: 60px;
	width: 100%;
	
 
  }
  .logo{
	float: left;
	width: 150px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	position: relative;
	top: 5px;
	left: 5px;
 
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: white;
  }
 
 
.libt{
	
	float: left;
	width: 80px;
	height: 40px;
	
	text-align: center;
	line-height: 60px;
}
 
 
/* 设置超链接样式 */
.libt a{
	color: rgba(255, 255, 255, 0.5);
	display: block;/* 块状点击 */
 
}
 
.libt a:hover{
	color:white ;
	font-size: 19px;
	transition: 0.5s;
}
 
/* 二级菜单栏设置 */
.dropdown-menu{
	width: 100px;
	background-color: white ;
	/* 隐藏下拉菜单栏 */
	
	display: none;/* 不为被隐藏的对象保留其物理空间，即该对象在页面上彻底消失，通俗来说就是看不见也摸不到 */
	border-radius: 5px;
	position: relative;
	top: -10px;
	left: 6px;
	
}
 
.down a{
	color: rgba(0, 0, 0, 0.7);
	
}
 
.down a:hover{
	color:black ;
	font-size: 19px;
	transition: 0.5s;
	
}
/* 这里设置显示下拉菜单栏 */
.libt:hover .dropdown-menu {
	display: block;
	
 
}
	/* transition: 0.3s; */
	/* border-radius: 15px; */
.righ{
	float: right;
	margin-right: 10px;
}
 
 
.message{
	width: 15px;
	height: 15px;
	display: block;/* 将行内元素变为块级元素 */
	background-color: red;
	border-radius: 50%;
	text-align: center;
	line-height: 15px;
	color: white;
	position: relative;
	font-size: small;
 
	float: right;
	right: 5px;
	bottom: 8px;
}
 
/* 消息编辑栏 */
.dropdown-menu2{
	width: 230px;
	height: 300px;
	background:white;
	border-radius: 5px;
	position: relative;
	right: 100px;
	top: -10px;
	display: none;
	/* 使得信息列表位于最高层 */
	z-index:9999;
}
.libt:hover .dropdown-menu2{
	display: block;
	
}
.item{
	/* 弹性盒布局 */
	
	height:80px;
	display: flex;
	justify-content: space-between; /* 均匀排列每个元素，首个元素放置于起点，末尾元素放置于终点 */
	align-items: center; /* 居中排列 */
	
	
	padding:5px 10px;
	position: relative;
	top: 10px;
	left: 5px;
	
}
 
.photo1 img{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	float: left;
	margin:0;
 
}
.content-box{
	margin-top: 10px;
	margin-left: 10px;	
	flex: 1;/* flex属性 是 flex-grow、flex-shrink、flex-basis三个属性的缩写，将内容区flex：1，内容区则会自动放大占满剩余空间 */
	
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.name{
	width: 80px;
	height: 20px;
	padding: 0px;
	text-align: start;
	line-height: 20px;
	position: relative;
	top: -8px;
}
.text{
	width: 110px;
	height: 20px;
	padding: 0px;
	
	text-align: start;
	line-height: 20px;
	font-size: small;
	
}
 
.view{
	
	width: 170px;
	margin:15px auto auto;
	height: 20px;
	text-align: center;
	line-height: 20px;
	color: rgba(0, 0, 0, 0.5);
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	padding: 10px;
	cursor: pointer;
} 
 
/* 加上发送信息的时间和小红点 */
.action{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	right: 8px;
	top:-3px;
}
.time{
	width: 30px;
	height: 10px;
	color: rgba(0, 0, 0, 0.5);
	font-size: 5px;
	text-align: center;
	line-height: 10px;
	margin:0 10px 10px 0;
}
.unread{
	width:8px;
	height: 8px;
	border-radius: 50%;
	background-color: red;
	margin-top: 8px;
}
 
 
 